*

!.gitignore

!*/

!*.cpp
!*.hpp
!*.h
!*.c
!*.ui

!*.glsl
!*.bs
!*.txt

!*.pro
!*.pri
!*.conf
!*.qrc

!*.sh
!*.py
!*.m

!*.svg
!*.png
!*.gif
!*.raw
!*.icns
!*.ico
!*.jpg

!*.in
!*.manifest
!*.rc

!*.sln
!*.vcxproj

tmp
libs
